<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">

<section class="container">
        <div class="col-lg-12">
                <% tickets.forEach(function(ticket){ %>
                    <div class="card" id="ticket" style="width: 48rem;">
                        <div class="card-body">
                            <p class="card-title"><strong><%= ticket.name %></strong><span id="time"><%= ticket.created.toDateString()%></span></p>
                            <p class="card-text"><%=ticket.message%></p>
                            <a class="btn btn-sm btn-primary" id="selectButton" href="/tickets/<%= ticket._id%>">Select</a>
                        </div>
                    </div>
                <% }); %>
                <a id="logout" id="logout" href="/logout">Logout</a>
        </div>
    </div>
</section>