<!-- Bottom Nav -->
<nav class="navbar navbar-light bg-light justify-content-center">
    <a href="mailto:jackleverentz@gmail.com" class="gmail nav-link bottom"><i class="far fa-envelope fa-3x"></i></a>
    <a href="https://github.com/JackLeverentz" class=" github nav-link bottom"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/jack-leverentz-320822146/" class=" linkedin nav-link bottom"><i class="fab fa-linkedin-in fa-3x"></i></a>
    <a href="https://www.instagram.com/jackleverentz/?hl=en" class=" instagram nav-link bottom"><i class="fab fa-instagram fa-3x"></i></a>   
</nav>

<style>
.bottom{
    color:grey;
}

.nav-link{
    margin-right: 20px;
    margin-left:20px;
}

.gmail:hover{
    color:red;
}

.github:hover{
    color:black;
}

.linkedin-in:hover{
    color:blue;
}

.instagram:hover{
    color:purple;
}

</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    </body>
</html>