<% include ./partials/header %>

<!--Title-->
<section class="container">
    <div clas="row text-center">
        <div class="col-lg-12 text-center">
            <h1 id="heading">Send Me a Message</h1>
            <hr>
            <p>
                I love answering questions, learning new things, meeting new people, and gaining new opportunities. Feel free
                to send me a message at any time! Also feel free to find and contact me on the other platforms
                listed below!
            </p>
        </div>
    </div>
</section>

<!--Contact Form-->
<section class="container">
    <div class="row text-start">
        <div class="col-lg-6 col-md-6">
            <form class="form">
                <input id="name" class="form text-start" type="text" name="ticket[name]" placeholder="Name" required/>
                <input id="email" class="form text-start" type="text" placeholder="Email" required/>
                <textarea id="message" class="form-control" form form-control placeholder="Your Message" style="width: 100%; height: 150px;" required></textarea>
            </form>
            <button id="send" type="submit" class="btn">Send</button>
        </div>
        
        <!--Links-->
        <div class="col-lg-6 text-center links">
            <a class="follow" href="mailto:jackleverentz@gmail.com"><i class="far fa-envelope fa-5x"></i></a>
            <a class="follow" href="https://github.com/JackLeverentz"><i class="fab fa-github fa-5x"></i></a>
            <a class="follow" href="https://www.linkedin.com/in/jack-leverentz-320822146/"><i class="fab fa-linkedin-in fa-5x"></i></a>
            <a class="follow" href="https://www.instagram.com/jackleverentz/?hl=en"><i class="fab fa-instagram fa-5x"></i></a> 
        </div>
    </div> 
</section>

<!--ADD to contact.css-->
<style>
#heading{
    margin-top: 20px;
    }

hr{
    border-bottom: 1px solid red;
    margin-bottom: 30px;
}

.links{
    margin-top: 175px;
}

.follow{
    margin-left: 28px;
    margin-right: 28px;
}

.form
    {
        border: 0;
        border-bottom: 1px solid black;
        outline: 0;
        width:400px;
        margin-top: 30px;
    }

.fa-envelope{
    color: red;
}

.fa-envelope:hover{
    color:grey;
}

.fa-github{
    color:black;
}

.fa-github:hover{
    color:grey;
}

.fa-linkedin-in:hover{
    color:grey;
}

.fa-instagram{
    color: purple;
}

.fa-instagram:hover{
    color:grey;
}

#name{
    margin-top:30px;
}

#message{
    border: 0;
        outline: 0;
        width:400px;
        margin-top: 30px;
}

#send{
background-color: red;
color:white;
width: 100px;
margin-top: 40px;
}

#contactLink{
    color:red;
}
</style>

<!--Bootstrap JavaScript and jQuery CDN's-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   



