<% include ./partials/header %>

<!-- Contact forms-->
<section class="container">
    <div clas="row text-center">
        <div class="col-lg-12 text-center">
            <h1 id="heading">Send Me a Message</h1>
            <hr>
            <p>
                I love answer questions, meeting new people, and gaining new opportunities. Feel free
                to send me a message at any time! Also feel free to find and follow me on other social
                platforms listed on the bottom!
            </p>
            
            
                    
                
            

        </div>
    </div>
</section>

<section class="container">
    <div class="row text-start">
        <div class="col-lg-12">
            <form class="form">
                <input id="name" class="form text-start" type="text" name="ticket[name]" placeholder="Name" required/>
                <input id="email" class="form text-start" type="text" placeholder="Email" required/>
                <textarea class=" form form-control" placeholder="Your Message" style="width: 100%; height: 150px;" required></textarea>
            </form>
            <button id="send" type="submit" class="btn">Send</button>
        </div>
    </div>
</section>

<!--ADD to contact.css-->
<style>
#heading{
    margin-top: 20px;
    }

hr{
    border-bottom: 1px solid red;
    margin-bottom: 30px;
}

.form
    {
        border: 0;
        border-bottom: 1px solid black;
        outline: 0;
        width:400px;
        margin-top: 30px;
    }

#name{
    margin-top:30px;
}

#send{
background-color: red;
color:white;
width: 100px;
margin-top: 40px;
}
</style>



