<head>
        <title>Jackleverentz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Overpass|Sniglet" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
</head>

<section class="container content">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>Oops!</h1>
            <p>
                This page doesn't exist! In the meantime, enjoy this picture of me 
                from high school
            </p>
            <img id="jack" src="https://i.ibb.co/18By789/IMG-3340.jpg" alt="IMG-3340" border="0">
        </div>
    </div>
</section>