<head>
        <title>Jackleverentz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Overpass|Sniglet" rel="stylesheet">
</head>

<!--Center content and background elements-->
<div class="area">
    <div class="container">
        <div class="content">
            <h3 id="title">Hello, my name is Jack Leverentz and I am a highly motivated and passionate full-stack web developer</h3>
            <a id="checkoutButton" href="/portfolio" class="btn btn-light" role="button">See some of my work</a>
        </div>
    </div>
    <ul class="circles">
        <li class="shapes"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>