<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/portfolio.css">

<!--YelpCampGloabl-->
<section class="container">
    <div class="row text-start">
        <div class="col-lg-6">
            <h3 id="heading">YelpCampGlobal.com</h3>
                <hr>
                <p>
                    YelpCampGlobal is a project that I made in my Web Development Bootcamp. It functions
                    similar to Yelp but for campgrounds. This site was more of a trial 
                    run for me to code along and play with the different tools and technolgies that were used. 
                </p>
                <p>
                <strong>Functionality:</strong>
                <ul>
                    <li>Create an account, sign in, sign out</li>
                    <li>Create a campground with a title, name, description, and price</li>
                    <li>Edit or delete that campground as long as your account was the one that created it</li>
                    <li>Comment on other campgrounds</li>
                    <li>Edit or delete those comments as long as you your account was the one that created them</li>
                </ul>
                </p>
                <p>
                <strong>Stack/Tools:</strong>
                <ul>
                    <li>Express.js</li>
                    <li>Passport.js</li>
                    <li>Mongoose</li>
                    <li>EJS (Embedded JavaScript)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Boostrap4 (Responsive on all device sizes)</li>
                    <li>Flash Messages</li>
                    <li>RESTful Routing</li>
                    <li>Git & Github</li>
                    <li>Font Awesome</li>
                    <li>Google Fonts</li>
                    <li>Heroku</li>
                </ul>
            </p>
    </div>
        <div class="col-lg-6 text-center">
            <img id="splash" class="portfolioImg" src="https://i.ibb.co/kKf1kJV/Screen-Shot-2019-03-21-at-3-06-00-PM.png">
            <img id="index" class="portfolioImg" src="https://i.ibb.co/yBgRh0W/Screen-Shot-2019-03-21-at-3-28-53-PM.png">
            <p class="text-center">
                <a id="linkButton" href="https://github.com/JackLeverentz/YelpCamp" class="btn btn-dark" role="button"><i class="fab fa-github"></i> View the code</a>
                <a id="linkButton" href="https://yelpcampglobal.herokuapp.com/" class="btn btn-primary" role="button"><i id="link" class="fas fa-external-link-alt"></i> Visit the site</a>
            </p>
        </div>
    </div>
</secion>

<!--Sparrk Website-->
<section class="container">
    <div class="row text-start">
        <div class="col-lg-6">
            <h3 id="heading">Sparrk.app</h3> 
            <hr>
            <p>
                Sparrk.app is a place for users of the Sparrk app (My startup) to visit.
            </p>
            <p>
            <strong>Functionality:</strong>
                <ul>
                    <li>View information about the app</li>
                    <li>View the company's legal documents</li>
                    <li>Donwload the app on both stores from the site</li>
                    <li>Contact the company through a ticket system</li>
                    <li>View submitted tickets if you are logged into the Admin account</li>
                    <li>Write a response email to the sender of the ticket if you are logged into the Admin account</li>
                    <li>Delete tickets that have been handled if you are logged into the Admin account </li>
                </ul>
            </p>
            <p>
            <strong>Stack/Tools:</strong>
                <ul>
                    <li>Express.js</li>
                    <li>Passport.js</li>
                    <li>Mongoose</li>
                    <li>EJS (Embedded JavaScript)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Boostrap4 (Responsive on all device sizes)</li>
                    <li>RESTful Routing</li>
                    <li>Git & Github (Version Control, Private Repository)</li>
                    <li>Heroku</li>
                    <li>Font Awesome</li>
                    <li>Google Fonts</li>
                    <li>NOTE* I are currently in the process of getting an SSL, so you are not able to visit it on google chrome</li>
                </ul>
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img class="portfolioImg" src="https://i.ibb.co/SJ8nFz3/Screen-Shot-2019-03-21-at-4-28-55-PM.png">
            <img id="currentTickets" class="portfolioImg" src="https://i.ibb.co/8rjF5GJ/Screen-Shot-2019-03-21-at-4-31-26-PM.png">
            <p class="text-center">
                <a id="sparrkButton" href="http://sparrk.app" class="btn btn-primary" role="button"><i id="link" class="fas fa-external-link-alt"></i> Visit the site</a>
            </p>
        </div>
    </div>
</section>

<% include ./partials/footer %>