/* tickets.ejs */
body{
    margin-left: 20px;
}

h1{
    color:white;
}

#tickesTitle{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    color: white;
}

#listItem{
    background: orange;
}

#ticket{
    margin-bottom: 10px;
}

#time{
    padding-left: 10px;
    font-size: 12px;
    color: grey;
}

#newAdmin{
    color:white;
    padding-right: 30px;
}

#logout{
    color:white;
}

/* showTickets.ejs */
.nav-link:hover{
    color:white;
}

.nav-link{
    font-family: 'Varela Round', sans-serif;
    color: black;
}

#showTicket{
    margin-top: 100px;
    margin-left: 260px;
}

#deleteButton{
    color: red;
}

#emailAdress{
    padding-left: 20px;
    font-size: 15px;
    color: blue;
}

#showTime{
    font-size: 12px;
    color:grey;
    padding-bottom: 15px;
}

#ticketsLink{
    color:red;
}