#heading{
    margin-top: 20px;
    }

hr{
    border-bottom: 1px solid red;
    margin-bottom: 30px;
}

.form{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width:400px;
    margin-top: 60px;
    }

#message{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width:400px;
    margin-top: 30px;
}

#send{
    background-color: red;
    color:white;
    width: 100px;
    margin-top: 40px;
    margin-bottom:40px;
}

#contactLink{
    color:red;
}