#heading{
       margin-top: 20px;
       }

hr{
    border-bottom: 1px solid red;
    margin-bottom: 30px;
}

.portfolioImg{
    margin-top:80px;
    margin-right:20px;   
}

#splash{
    height: 200px;
    width:500px;
}

#index{
    width:500px;
}

#linkButton{
    margin-top: 100px;
    margin-left: 40px;
}

#link{
    color:white;
}

#contactScreen{
    width:400px;
    height:200px;
}

#message{
    margin-top:30px;
}

#sparrkButton{
    margin-top: 30px;
}

#portfolioLink{
    color:red;
}
